.launch-cards{
    display: flex;
    min-width: 20vw;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.launch-cards:hover{
    background-color: rgb(142, 209, 230);
}

.link-button {
    margin : 10px;
}

.logo {
    max-width: 40vw;
    margin : 0 auto;
}